{{ template "header" . }}
<div class="row">
  <div class="col-md-6 list-group">
    {{ range .Articles }}
    <a href="{{ $.Header.URLs.Website }}/{{ .AbsoluteURL }}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ .Title }}</h5>
        <small>{{ .PublishedAt }}</small>
      </div>
      <p class="mb-1">{{ .Subtitle }}</p>
      <small>
        {{ if .PublishedAt }}{{ .PublishedAt.Format "Jan 02, 2006" }}
        {{ else }}{{ .CreatedAt.Format "Jan 02, 2006" }}{{ end }}
        | {{ .AmountCollected }} Sat
      </small>
    </a>
    {{ end }}
  </div>
</div>
{{ template "footer" . }}
