<div>
    <p>Your Lightning invoice:</p>
    <canvas id="qr"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
</div>
<script>
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/checkout/' + 'hello' + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var payment_request = data['payment_request'];
        new QRious({
          element: document.getElementById('qr'),
          value: payment_request
        });
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
</script>
