{{ template "header" . }}
<div class="jumbotron">
<h3>Write</h3>
</div>
<form  id="form">
<div class="row">
<div class="col-md-8">
  <div class="form-group">
    <input type="text" class="form-control" id="title" placeholder="Title (required)">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="lang" placeholder="Lang">
  </div>
  <div class="form-group">
    <textarea class="form-control" rows="3" type="text" id="subtitle" placeholder="Subtitle"></textarea>
  </div>
    <div class="form-group">
      <textarea class="form-control" rows="20" type="text" id="body" placeholder="Your article (required)"></textarea>
    </div>
</div>
<div class="col-md-4">
  <figure>
    <small>In order to receive donations</small>
  </figure>
    <div class="form-group">
      <input type="text" class="form-control" id="address" placeholder="address">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="node_pub_key" placeholder="node pubkey">
    </div>

    <div class="alert alert-success d-none" role="alert">
      ✔️  You paid 0.006 €
    </div>
    <button id="submit" class="btn btn-primary btn-large btn-block" type="button">
      Publish Article
    </button>
    <button id="payment" type="button" class="btn btn-secondary btn-large btn-block">
      Submit Article: 0.006 €.
    </button>
</div>
</div>
</form>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="modal-payment" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Your Lightning invoice:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <canvas id="qr"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="modal-success" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">👏  Congrats !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your article has been published</p>
      </div>
      <div class="modal-footer">
        <a id="success-callback" class="btn btn-outline-primary" href="">Go see it !</a>
      </div>
    </div>
  </div>
</div>
{{ template "footer" . }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
<script>
$(document).ready(function(){
  // click on button submit
  $("#submit").on('click', function(){
    var payload = {};
    payload.title = $("#title").val();
    payload.lang = $("#lang").val();
    payload.subtitle = $("#subtitle").val();
    payload.body = $("#body").val();
    payload.address = $("#address").val();
    payload.node_pub_key = $("#node_pub_key").val();
    $.ajax({
      url: '{{ .Header.URLs.Website }}' + '/api/articles', // url where to submit the request
      type : 'POST', // type of action POST || GET
      dataType : 'json', // data type
      contentType: 'application/json',
      data : JSON.stringify(payload), // post data || get data
      success : function(result) {
        $("#success-callback").attr("href",
          '{{ .Header.URLs.Website }}' + "/articles/" + result.slug);
        $('#modal-success').modal('show')
      },
      error: function(xhr, textStatus, error){
      console.log(xhr.statusText);
      console.log(textStatus);
      console.log(error);
      }
    })
  });

  var chatSocket;
  $("#payment").on('click', function(){
    $('#modal-payment').modal('show')
    if (chatSocket == undefined) {
      chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/checkout/' + 'hello' + '/');

      chatSocket.onmessage = function(e) {
          var data = JSON.parse(e.data);
          var payment_request = data['payment_request'];
          new QRious({
            element: document.getElementById('qr'),
            value: payment_request
          });
      };

      chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
      };
    }
  });
});
</script>
