{% extends "base.html" %}
{% load markdown_extras %}

{% block content %}
<div class="py-1 mb-2">
  <nav class="nav row d-flex justify-content-between">
      {% if article.author %}
      <div class="col-md-4">
        <a class="p-2 text-muted" href="{{ article.author.absolute_url }}">{{ article.author.name }}</a>
      </div>
      {% else %}
      <div class="col-md-4">
        <a class="p-2 text-muted">Anonymous</a>
      </div>
      {% endif %}
      <div class="col-md-4 text-center">
        <a class="p-2 text-muted" href="#">{{ article.published_at|date:"F j, Y" }}</a>
      </div>
      {% if article.address %}
      <div class="col-md-4 text-right">
        <a class="p-2 text-muted" href="{{ article.address.absolute_url }}">{{ article.address }}</a>
      </div>
      {% else %}
      <div class="col-md-4 text-right">
        <a class="p-2 text-muted" href="">no address</a>
      </div>
      {% endif %}
  </nav>
</div>
<div class="p-3 p-md-5">
</div>
<main role="main" class="container">
<div class="row">
        <div class="col-md-8 offset-md-1 px-0">
                <div class="p-3 p-md-5">
                        <h1 class="display-4">{% block title %}{{ article.title }} &middot; {{ block.super }}{% endblock %}</h1>
                </div>
        </div>
        <div class="col-md-8 offset-md-1 blog-main">
                <div class="blog-post">
                        {{ article.body | markdown | safe }}
                </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
        <aside class="col-md-3 blog-sidebar">
                <div class="p-3 float-right sticky-top">
                        <div class="btn-group">
                                <button class="btn btn-outline-success">{{ article.amount }} Sat</button>
                                <button type="button" class="btn btn-outline-success">Tip !</button>
                        </div>
                </div>
        </aside><!-- /.blog-sidebar -->
</div><!-- /.row -->

</main><!-- /.container -->
{% endblock%}

