{% extends "base.html" %}

{% block content %}
{% include "categories_menu.html" %}
<div class="jumbotron">
<h3>Addresses</h3>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Value</th>
        <th class="text-right">Amount collected</th>
        <th class="text-right">Amount received</th>
      </tr>
    </thead>
    <tbody>
      {% for address in addresses %}
      <tr>
        <td><a href="{{ address.absolute_url }}">
            {{ address.value }}
          </a>
        </td>
        <td class="text-right">{{ address.amount_collected }} sat</td>
        <td class="text-right">{{ address.amount_received }} sat</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
          <a class="page-link" href="/addresses?page={{ page_obj.previous_page_number }}">previous</a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active">
          <a class="page-link">{{ i }}</a>
      </li>
      {% else %}
      <li class="page-item">
          <a class="page-link" href="/addresses?page={{ i }}">{{ i }}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
          <a class="page-link" href="/addresses?page={{ page_obj.next_page_number }}">next</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock%}
